*{
    padding: 0;
    margin: 0;
}
#sky{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 0;
}
#water{
    position: fixed;
    bottom: 0px;
    height: 60vh;
    width: 100vw;
    z-index: 1;
}
#boat{
    position: fixed;
    top: 111px;
    z-index: 1;
    height: 40vh;
    width: 18vw;
    /* left: 210px; */
    left: 650px;
}
#cloud1{
    position: fixed;
    top: 10px;
    right: 30px;
    width: 300px;
    height: 125px;
    z-index: 1;
}
#cloud2{
    position: fixed;
    top: 10px;
    left: 80px;
    width: 300px;
    height: 125px;
    z-index: 2;
}
#cloud3{
    position: fixed;
    top: 40px;
    height: 125px;
    width: 300px;
    z-index: 1;
    left: 400px;
}
#island{
    position: fixed;
    top: 118px;
    z-index: 3;
    width: 300px;
    height: 200px;
    left: -50px;
}
#fisherman{
    position: fixed;
    top: 215px;
    height: 80px;
    width: 100px;
    z-index: 3;
    left: 180px;
}
#moon{
    z-index: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    left: 500px;
    border: 0;
    padding: 0;
    margin: 0;
}
#grass{
    position: fixed;
    height: 300px;
    width: 300px;
    z-index: 1;
    bottom: 0;
    padding: 0%;
    left: 980px;
    top: 380px;
}
#grass2{
    position: fixed;
    height: 300px;
    width: 300px;
    bottom: 0;
    top: 380px;
    z-index: 1;
}
#fish1{
    position: fixed;
    z-index: 1;
    bottom: 100px;
    width: 55px;
    right: 0;
}
#seahorse{
    position: fixed;
    z-index: 1;
    bottom: 150px;
    width: 70px;
    left: 0;
}
#fish2{
    position: fixed;
    z-index: 2;
    bottom: 0px;
    width: 55px;
    right: 50%;
}