*{
    padding: 0;
    margin: 0;
}
#sky{
    position: fixed;
    height: 78vh;
    width: 100vw;
    top: 0;
    z-index: 0;
}
#water{
    position: fixed;
    bottom: 0px;
    height: 60vh;
    width: 100vw;
    z-index: 1;
}
#boat{
    position: fixed;
    top: 111px;
    z-index: 1;
    height: 40vh;
    width: 18vw;
    left: 210px;
}
#cloud1{
    position: fixed;
    top: 10px;
    right: 30px;
    width: 300px;
    height: 125px;
    z-index: 1;
}
#cloud2{
    position: fixed;
    top: 10px;
    left: 80px;
    width: 300px;
    height: 125px;
    z-index: 2;
}
/* #fish{
    position: fixed;
    bottom: 0px;
    z-index: 3;
    height: 550px;
    width: 500px;
    top: 100px;
    left: 780px;
} */
#island{
    position: fixed;
    top: 118px;
    z-index: 3;
    width: 300px;
    height: 200px;
    left: -50px;
}
#fisherman{
    position: fixed;
    top: 215px;
    height: 80px;
    width: 100px;
    z-index: 3;
    left: 180px;
}